body{
  overflow-y: scroll;
  min-height: 840px;
}
body::-webkit-scrollbar{
  display: none;
}
.app{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px;
  
}


.app.mobile{
  padding: 0
}

@media(max-width: 768px){
  .desktop-title-break{
    display: none;
  }

  body{
    min-height: 0;
  }
  .app{
    padding-top: 130px;
  }
  .app.mobile{
    padding-top: 0;
  }
}
